.black {
  color: black;
}

.slide {
  background-color: #111;
  color: white;
}

.slide::after {
  background-image: none;
}

.slide h2 {
  color: white;
}

.intro p,
.intro ul {
  font-size: smaller;
}

.bugs,
.great-power {
  line-height: 1;
  position: absolute;
  bottom: 1em;
}
